* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
 }
 
 .app{
   display: flex;
   min-height: 100vh;
 }
 
 .navbar {
   flex: 1 1 0;
   max-width: 300px;
   padding: 2rem 1rem;
   background-color: white;
 }

 #main-doc p {
    
    margin-bottom: 1rem;

 }

 .main-section header {
   
    font-size: 1.3rem;
 }
